{{define "content"}}
<div class="col-md-6 col-md-offset-3">
  <div class="article">
    <h3><i class="icon icon-plus"></i> Créer un groupe</h3>

    {{if .Error}}
    <div class="alert alert-danger">{{.Error}}</div>
    {{end}}

    <form method="POST" action="/group/create/">
      <div class="form-group">
        <label>Nom du groupe <span class="text-danger">*</span></label>
        <input type="text" name="name" class="form-control" placeholder="Ex: AMAP Les Jardins de la Vallée" required />
      </div>
      <div class="form-group">
        <label>Type de groupe</label>
        <select name="groupType" class="form-control">
          <option value="Amap">AMAP</option>
          <option value="GroupedOrders">Commandes groupées</option>
          <option value="ProducerDrive">Drive producteur</option>
          <option value="FarmShop">Boutique de ferme</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">
        <i class="icon icon-check"></i> Créer le groupe
      </button>
      &nbsp;
      <a href="/user/choose" class="btn btn-default btn-lg">
        <i class="icon icon-chevron-left"></i> Annuler
      </a>
    </form>
  </div>
</div>
{{end}}
